body {
  font-family: Roboto, Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

header {
  width: 93%;
  margin: auto;
  margin-top: 16px;
  padding: 10px;
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

header span {
  padding: 10px;
  background: #e2e0e0;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
}

.active {
  background: #000;
  color: #fff;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.video {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  border-radius: 10px;
  overflow: hidden;
}

.video-thumbnail img {
  width: 100%;
}

.video-text {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.avatar {
  flex-shrink: 0;
}

.text {
  line-height: 1.5;
}

.text p {
  margin: 0;
  margin-top: 10px;
}

.text p,
.text span {
  color: rgb(105, 102, 102);
}

.text strong {
  font-weight: 500;
}
